<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>分类管理</title>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
<div class="innner_box">
    <table>
        <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>名称</th>
            <th>描述</th>
            <th>别名</th>
            <th>文章数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>