<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/index.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="/js/html5shiv.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>

</head>
<body>
<div id="navbar">

</div>
<div id="content">
    <div id="solidbar">
        <ul class="navlist">
            <li class="active"><a target="mianiframe" href="/home"><i></i><span>首页</span></a></li>
            <li><a target="mianiframe" href="/category"><i></i><span>分类管理</span></a></li>
            <li><a target="mianiframe" href="#"><i></i><span>文章管理</span></a></li>
            <li><a target="mianiframe" href="#"><i></i><span>相册管理</span></a></li>
        </ul>
    </div>
    <div id="mian">
        <iframe src="/home" name="mianiframe" frameborder="0"></iframe>
    </div>
</div>
<script>
    $(function () {
        $("#content").height($("body").eq(0).height() - $("#navbar").height());
        $(window).resize(function () {
            $("#content").height($("body").eq(0).height() - $("#navbar").height());
        });
    })
</script>
</body>
</html>